<div class="sidebar">
    <legend class=""><b>所有功能</b></legend>
    <ul class="nav">
        <li><a href="<%=home%>profile">我的账户信息</a></li>
        <li><a href="<%=home%>cart">我的购物车</a></li>
        <li><a href="<%=home%>order">我的订单</a></li>
        <!-- <li><a href="<%=home%>collection">My Collections</a></li> -->
        <!--<li><a href="<%=home%>comment">My Comments</a></li>-->
    </ul>
</div>
